# Ignore TextMesh Pro provided assets in the linguistics.
Assets/TextMeshPro/* linguist-vendored
Assets/TextMeshPro/ linguist-vendored
Assets/TextMeshPro/Shaders/* linguist-vendored
Assets/TextMeshPro/Shaders/ linguist-vendored
